<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали Контрагента</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <script src="/static/script.js" th:src="@{/script.js}"></script>
</head>
<body>
<div class="form-detail-container">
    <form th:action="@{/organization/save}" th:object="${counterparty}" method="post" accept-charset="UTF-8">
        <input type="hidden" name="id" th:value="${counterparty.id}"/>

        <label for="cpName">Наименование</label>
        <input type="text" id="cpName" th:field="*{name}" required>

        <label for="cpInn">ИНН</label>
        <input type="text" id="cpInn" th:field="*{inn}" required>

        <label for="cpKpp">КПП</label>
        <input type="text" id="cpKpp" th:field="*{kpp}">

        <label for="cpAddress">Адрес</label>
        <input type="text" id="cpAddress" th:field="*{address}" required>

        <label for="cpEmail">Email</label>
        <input type="email" id="cpEmail" th:field="*{email}" required>

        <div class="button-group">
            <button type="button" class="button form-detail-button" onclick="history.back()">Отмена</button>
        </div>
    </form>
</div>
</body>
</html>
