<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список Контрагентов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1 class="main-heading">Контрагенты</h1>
    <button type="button" class="button form-detail-button" onclick="history.back()">Назад</button>
    <a href="/counterparty/new" class="button" title="Добавить нового контрагента">Создать</a>
    <div class="row">
        <div class="col-md-8">
            <div class="counterparties-list">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Код</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">ИНН</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="counterparty : ${counterparties}">
                        <td th:text="${counterparty.id}"></td>
                        <td th:text="${counterparty.name}"></td>
                        <td th:text="${counterparty.inn}"></td>
                        <td>
                            <a th:href="@{/counterparty/{id}(id=${counterparty.id})}" class="btn" title="Подробнее"><i class="fas fa-info-circle"></i></a>
                            <a th:href="@{/counterparty/clone/{id}(id=${counterparty.id})}" class="btn" title="Копировать"><i class="fas fa-copy"></i></a>
                            <form th:action="@{/counterparty/delete/{id}(id=${counterparty.id})}" method="post" class="d-inline">
                                <button type="submit" class="btn" title="Удалить"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Блок фильтра -->
            <div class="filter-block">
                <h3>Фильтр</h3>
                <form th:action="@{/counterparty/search}" method="get" accept-charset="UTF-8">
                    <div class="mb-3">
                        <label for="nameFilter" class="form-label">Наименование</label>
                        <input type="text" class="form-control" id="nameFilter" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="innFilter" class="form-label">ИНН</label>
                        <input type="text" class="form-control" id="innFilter" name="inn">
                    </div>
                    <button type="submit" class="button">Найти</button>
                </form>
            </div>

