<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список Документов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <script src="/static/script.js" th:src="@{/script.js}"></script>
</head>
<body>
<div class="container">
    <h1 class="main-heading">Документы<br> <span th:text="${organizationName}"></span> </h1>

    <button type="button" class="button form-detail-button" onclick="history.back()">Назад</button>
    <button type="button" class="button form-detail-button" onclick="window.print()">Распечатать</button>
    <button type="button" class="button form-detail-button" onclick="window.location.reload()">Обновить данные</button>
    <a th:href="@{/organization/{organizationId}/employee/{employeeId}/startWork(organizationId=${organizationId}, employeeId=${employeeId})}" class="button form-detail-button">Главная страница</a>

    <div class="row">
        <div class="col-md-8">
            <div class="documents-list">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Номер документа</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Покупатель</th>
                        <th scope="col">Продавец</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="document : ${documents}">
                        <td th:text="${#temporals.format(document.documentDate, 'dd.MM.yyyy')}">22.05.2024</td>
                        <td th:text="${document.documentNumber}">Номер документа</td>
                        <td th:text="${document.totalAmount}">Сумма</td>
                        <td th:text="${document.buyerOrganization.name}">Покупатель</td>
                        <td th:text="${document.sellerOrganization.name}">Продавец</td>
                        <td>
                            <a th:href="@{/organization/{organizationId}/employee/{employeeId}/documents/{documentId}(documentId=${document.id}, organizationId=${organizationId}, employeeId=${employeeId})}" class="btn" title="Подробнее"><i class="fas fa-info-circle"></i></a>
                            <form th:action="@{/organization/{organizationId}/employee/{employeeId}/documents/delete/{documentId}(documentId=${document.id}, organizationId=${organizationId}, employeeId=${employeeId})}" method="post" class="d-inline">
                                <button class="btn" title="Удаление документа"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Блок фильтра -->
            <div class="filter-block">
                <form th:action="@{/organization/{organizationId}/employee/{employeeId}/documents/filteredSearch}" method="get" accept-charset="UTF-8">
                    <div class="mb-3">
                        <label for="documentNumber" class="form-label">Номер документа</label>
                        <input type="text" class="form-control" id="documentNumber" name="documentNumber">
                    </div>
                    <div class="mb-3">
                        <label for="buyer" class="form-label">Покупатель</label>
                        <input type="text" class="form-control" id="buyer" name="buyer">
                    </div>
                    <div class="mb-3">
                        <label for="seller" class="form-label">Продавец</label>
                        <input type="text" class="form-control" id="seller" name="seller">
                    </div>
                    <div class="mb-3">
                        <label for="dateFrom" class="form-label">Дата от</label>
                        <input type="date" class="form-control" id="dateFrom" name="dateFrom">
                    </div>
                    <div class="mb-3">
                        <label for="dateTo" class="form-label">Дата до</label>
                        <input type="date" class="form-control" id="dateTo" name="dateTo">
                    </div>
                    <button type="submit" class="btn">Найти</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SRv3p/S5j4KxkrqZ0v3f5C00N4iaFbH5rbMozKtHwvGjGzC2Wv9nwyw5G5fJRy00" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-cuW9g5iBZB5/lSymb8zJ/9+n00HVh4aP8F3lL3TlJQ7UzL+V3P4+O5qzB93AiS/4" crossorigin="anonymous"></script>
</body>
</html>
