<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="http://localhost:8081/style.css">
    <script src="http://localhost:8081/script.js"></script>
</head>
<body>
<div class="form-container">
    <h2>Регистрация организации</h2>
    <form action="/register" method="post">
        <label for="name">Наименование</label>
        <input type="text" id="name" name="name" required>

        <label for="inn">ИНН</label>
        <input type="text" id="inn" name="inn" required>

        <label for="kpp">КПП</label>
        <input type="text" id="kpp" name="kpp">

        <label for="address">Адрес</label>
        <input type="text" id="address" name="address">

        <label for="bankDetails">Банковские реквизиты</label>
        <textarea id="bankDetails" name="bankDetails"></textarea>

        <button type="submit" class="button">Зарегистрировать</button>
    </form>
</div>
</body>
</html>