<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales Accounting: Start work</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <script src="/static/script.js" th:src="@{/script.js}"></script>
</head>
<body>
<div class="container">
    <h1 class="main-heading">Sales Accounting <br>  <span th:text="${organizationName}"></span> </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="menu-block">
                <h5>Закупка</h5>
                <div class="mb-3">
                    <!-- Используйте th:href для динамических ссылок магазин-->
<!--                    <a th:href="@{/product/availableForPurchase/{organizationId}/{employeeId} <a th:href="@{/product/availableForPurchase/{organizationId}, employeeId=${employeeId})}" class="btn" title="открыть список Товаров контрагентов">Market</a>-->
                    <a th:href="@{/organization/{organizationId}/employee/{employeeId}/product/availableForPurchase (organizationId=${organizationId}, employeeId=${employeeId})}" class="btn" title="Торговая площадка">Market</a>
                    <a th:href="@{/product/}" class="btn" title="открыть список Заказов">Заказ поставщику</a>
                    <a th:href="@{/product/}" class="btn" title="открыть список Платежное поручение">Платежное поручение входящее</a>
                    <a th:href="@{/product/}" class="btn" title="открыть список Поступления">Поступления товаров</a>
                </div>
                <h5>Продажа</h5>
                <div class="mb-3">
                    <a th:href="@{/product/}" class="btn" title="открыть список Заказов">Заказ клиента</a>
                    <a th:href="@{/product/}" class="btn" title="открыть список Платежное поручение">Платежное поручение исходящее</a>
                    <a th:href="@{/product/}" class="btn" title="открыть список Реализаций">Реализация товаров</a>
                </div>
                <h5>Справочники</h5>
                <div>
                    <a th:href="@{/organization/{organizationId}/employee/{employeeId}/product/byOrganization/ (organizationId=${organizationId}, employeeId=${employeeId})}" class="btn" title="открыть список Номенклатуры">Номенклатура</a>
                    <a th:href="@{/organization/{organizationId}/listCounterparty (organizationId=${organizationId})}" class="btn" title="открыть список Контрагентов">Контрагенты</a>
                    <a th:href="@{/organization/{organizationId}/employee/listEmployees (organizationId=${organizationId})}" class="btn" title="открыть список Сотрудников">Сотрудники</a>
                    <a th:href="@{/organization/{organizationId}/detailOrganization (organizationId=${organizationId})}" class="btn" title="изменение данных Организации">Организация</a>
                </div>
                <h5>Отчеты</h5>
                <div>
                    <a th:href="@{/product/}" class="btn" title="сформировать Отчеты о продажах">Отчет о продажах</a>
                    <a th:href="@{/product/}" class="btn" title="сформировать Отчеты о покупках">Отчет о покупках</a>
                </div>
            </div>
        </div>
            <div class="col-md-8">
                <div class="form-container">
                    <h3>Добро пожаловать,<br> <span th:text="${EmployeeName}">!</span></h3>
                    <h4>Для начала работы выберите действие в меню.</h4>
                </div>
                <br>
                <img class="img" src="/static/img/startWork.png" th:src="@{/img/startWork.png}" alt="Начало работы">
            </div>
    </div>
</div>
</body>
</html>
